$colors:(
    prime:(
        100: #9FE5D7,
        200: #7ABEB1,
        300: #55988C,
        400: #307469,
        500: #005248
    ),
    primeAlpha:(
        100: #9FE5D7d0,
        200: #7ABEB1d0,
        300: #55988Cd0,
        400: #307469d0,
        500: #005248d0
    ),
    ntr:(
        100:#E4D5C5,
        200:#BDAE9F,
        300:#97897B,
        400:#736658,
        500:#736658
    ),
    ntrAlpha:(
        100:#e4d5c5d0,
        200:#BDAE9Fd0,
        300:#97897Bd0,
        400:#736658d0,
        500:#736658d0
    ),
    sub:(
        100:#E79C25,
        200: #BC7800,
        300: #925500
    ),
    subAlpha:(
        100:#E79C25d0,
        200: #BC7800d0,
        300: #925500d0
    )
); 